@tailwind base;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Geist", sans-serif;
}

@tailwind components;

nav * {
  font-family: "Geist";
}

.timeline-grid {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  grid-template-rows: repeat(auto, 1fr);
}

.sticky-year {
  position: fixed;
  bottom: 0%;
  left: 0%;
}

.rotate {
  animation: rotation 2.5s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@tailwind utilities;

.h-50 {
  height: 50vh;
}
